# Learning Pandas

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Creating Pandas series

In [8]:
s = pd.Series([1, 2, 3, 7, 8.0, 9])
s

0    1.0
1    2.0
2    3.0
3    7.0
4    8.0
5    9.0
dtype: float64

## Creating Pandas dataframes

#### Basics

In [26]:
df = pd.DataFrame(np.random.randn(8,2), index = [1,2,3,4,5,6,7,8], columns = list('AB'))
df

          A         B
1  1.120905  0.038104
2  0.117205  0.626553
3 -1.903387  0.510455
4 -0.953315 -1.361462
5  0.218744 -1.332099
6  0.130318  0.086428
7 -1.783903  0.248616
8  0.254717  0.132087

#### Creating a DataFrame from a dictionary

In [22]:
df2 = pd.DataFrame({  'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

#### Reading from files:

In [ ]:
df = pd.read_csv('my_file.csv')

## Viewing data

#### Data types

In [25]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

#### Head and tail values

In [27]:
df.head()

          A         B
1  1.120905  0.038104
2  0.117205  0.626553
3 -1.903387  0.510455
4 -0.953315 -1.361462
5  0.218744 -1.332099

In [28]:
df.tail()

          A         B
4 -0.953315 -1.361462
5  0.218744 -1.332099
6  0.130318  0.086428
7 -1.783903  0.248616
8  0.254717  0.132087

#### Display index, columns and data values