# Learning Pandas

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Creating Pandas series

In [62]:
s = pd.Series([1, 2, 3, 7, 8.0, 9, 13, 12])
s

0     1.0
1     2.0
2     3.0
3     7.0
4     8.0
5     9.0
6    13.0
7    12.0
dtype: float64

## Creating Pandas dataframes

#### Basics

In [64]:
dates = pd.date_range('20130101', periods=8)

df = pd.DataFrame(np.random.randn(8,4), dates, columns = list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.753207 -0.993216 -1.533464 -2.330010
2013-01-02  0.772204  0.071559 -0.420493  0.138025
2013-01-03  0.963797  0.813247 -0.157811  0.495329
2013-01-04 -0.049828  0.872155  1.811954  0.404826
2013-01-05 -0.886720  1.288625 -0.465624 -0.225705
2013-01-06  0.108346  0.284166  0.580523  1.737133
2013-01-07 -0.146902  1.322573  0.186455  1.200900
2013-01-08  0.613158  0.925278  0.014431 -0.244244

#### Creating a DataFrame from a dictionary <span style="color: #FF0000">This is useful!</span>

In [35]:
df2 = pd.DataFrame({  'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

#### Reading from files:

In [ ]:
df = pd.read_csv('my_file.csv')

## Viewing data

#### Data types

In [23]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

#### Head and tail values

In [36]:
df.head()

                   A         B         C         D
2013-01-01 -1.047983 -0.811500  0.052438  0.826759
2013-01-02  0.335830 -0.655428  0.504784 -1.914111
2013-01-03 -1.279634  0.889081  2.453369 -0.905170
2013-01-04 -0.548608  0.222500  2.707359  1.554685
2013-01-05  1.046846  0.153002  0.262791 -0.270367

In [37]:
df.tail()

                   A         B         C         D
2013-01-04 -0.548608  0.222500  2.707359  1.554685
2013-01-05  1.046846  0.153002  0.262791 -0.270367
2013-01-06  0.915287 -0.489302 -0.518009  1.403608
2013-01-07 -0.961829 -2.034516  0.368461 -0.809656
2013-01-08 -0.045291  0.341185 -0.736567  0.201288

#### Display index, columns and data values

In [38]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06', '2013-01-07', '2013-01-08'],
              dtype='datetime64[ns]', freq='D')

In [39]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [40]:
df.values

array([[-1.04798348, -0.8114997 ,  0.05243811,  0.82675931],
       [ 0.33583048, -0.65542845,  0.50478422, -1.91411118],
       [-1.27963415,  0.88908109,  2.45336886, -0.90516989],
       [-0.5486075 ,  0.22250005,  2.70735895,  1.55468455],
       [ 1.04684611,  0.15300232,  0.26279067, -0.27036702],
       [ 0.9152867 , -0.48930241, -0.51800866,  1.40360774],
       [-0.9618291 , -2.03451635,  0.36846066, -0.80965558],
       [-0.04529055,  0.34118538, -0.73656735,  0.20128758]])

#### Transpose data

In [41]:
df.T

,2013-01-01 00:00:00,2013-01-02 00:00:00,2013-01-03 00:00:00,2013-01-04 00:00:00,2013-01-05 00:00:00,2013-01-06 00:00:00,2013-01-07 00:00:00,2013-01-08 00:00:00
A,-1.047983,0.335830,-1.279634,-0.548608,1.046846,0.915287,-0.961829,-0.045291
B,-0.811500,-0.655428,0.889081,0.222500,0.153002,-0.489302,-2.034516,0.341185
C,0.052438,0.504784,2.453369,2.707359,0.262791,-0.518009,0.368461,-0.736567
D,0.826759,-1.914111,-0.905170,1.554685,-0.270367,1.403608,-0.809656,0.201288

#### Sorting

In [42]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-07 -0.961829 -2.034516  0.368461 -0.809656
2013-01-01 -1.047983 -0.811500  0.052438  0.826759
2013-01-02  0.335830 -0.655428  0.504784 -1.914111
2013-01-06  0.915287 -0.489302 -0.518009  1.403608
2013-01-05  1.046846  0.153002  0.262791 -0.270367
2013-01-04 -0.548608  0.222500  2.707359  1.554685
2013-01-08 -0.045291  0.341185 -0.736567  0.201288
2013-01-03 -1.279634  0.889081  2.453369 -0.905170

## Selecting values

#### Display a single column

In [43]:
df['A']

2013-01-01   -1.047983
2013-01-02    0.335830
2013-01-03   -1.279634
2013-01-04   -0.548608
2013-01-05    1.046846
2013-01-06    0.915287
2013-01-07   -0.961829
2013-01-08   -0.045291
Freq: D, Name: A, dtype: float64

#### Slicing rows

In [44]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.047983 -0.811500  0.052438  0.826759
2013-01-02  0.335830 -0.655428  0.504784 -1.914111
2013-01-03 -1.279634  0.889081  2.453369 -0.905170

#### Slicing columns

In [45]:
df.loc[dates[1]]

A    0.335830
B   -0.655428
C    0.504784
D   -1.914111
Name: 2013-01-02 00:00:00, dtype: float64

#### Slicing any axis

In [46]:
df.loc[:,['A','B']]

                   A         B
2013-01-01 -1.047983 -0.811500
2013-01-02  0.335830 -0.655428
2013-01-03 -1.279634  0.889081
2013-01-04 -0.548608  0.222500
2013-01-05  1.046846  0.153002
2013-01-06  0.915287 -0.489302
2013-01-07 -0.961829 -2.034516
2013-01-08 -0.045291  0.341185

#### Slicing an arbitrary range within the dataframe

In [48]:
df.loc['20130102':'20130105', ['B', 'C']]

                   B         C
2013-01-02 -0.655428  0.504784
2013-01-03  0.889081  2.453369
2013-01-04  0.222500  2.707359
2013-01-05  0.153002  0.262791

#### Slicing a single scalar value

In [49]:
df.loc['20130103', 'D']

-0.90516988718331781

## Selecting by index position

Same methods as before, using <code>df.iloc</code> instead

In [51]:
df.iloc[3:5, 0:2]

                   A         B
2013-01-04 -0.548608  0.222500
2013-01-05  1.046846  0.153002

In [52]:
df.iloc[1:4,:]

                   A         B         C         D
2013-01-02  0.335830 -0.655428  0.504784 -1.914111
2013-01-03 -1.279634  0.889081  2.453369 -0.905170
2013-01-04 -0.548608  0.222500  2.707359  1.554685

## Filtering data with boolean operations

#### Filtering out rows which don't meet criteria

In [54]:
df[df.A > 0]

                   A         B         C         D
2013-01-02  0.335830 -0.655428  0.504784 -1.914111
2013-01-05  1.046846  0.153002  0.262791 -0.270367
2013-01-06  0.915287 -0.489302 -0.518009  1.403608

#### Showing all values that meet criteria

In [55]:
df[df > 0]

                   A         B         C         D
2013-01-01       NaN       NaN  0.052438  0.826759
2013-01-02  0.335830       NaN  0.504784       NaN
2013-01-03       NaN  0.889081  2.453369       NaN
2013-01-04       NaN  0.222500  2.707359  1.554685
2013-01-05  1.046846  0.153002  0.262791       NaN
2013-01-06  0.915287       NaN       NaN  1.403608
2013-01-07       NaN       NaN  0.368461       NaN
2013-01-08       NaN  0.341185       NaN  0.201288

## Setting values

#### Adding a new column

In [65]:
df['E'] = ['UK', 'Germany', 'UK', 'UK', 'France', 'Sweden', 'UK', 'USA']
df

                   A         B         C         D        E
2013-01-01 -0.753207 -0.993216 -1.533464 -2.330010       UK
2013-01-02  0.772204  0.071559 -0.420493  0.138025  Germany
2013-01-03  0.963797  0.813247 -0.157811  0.495329       UK
2013-01-04 -0.049828  0.872155  1.811954  0.404826       UK
2013-01-05 -0.886720  1.288625 -0.465624 -0.225705   France
2013-01-06  0.108346  0.284166  0.580523  1.737133   Sweden
2013-01-07 -0.146902  1.322573  0.186455  1.200900       UK
2013-01-08  0.613158  0.925278  0.014431 -0.244244      USA

Or we could predefine a series and then set this to be a new index